port: 7890
socks-port: 7891
redir-port: 7892
allow-lan: true
mode: rule
log-level: silent
external-controller: 0.0.0.0:9090

proxies:
- name: 'trojan'
  type: trojan
  server: hostdare.poul666.top
  port: 8443
  password: "r$GP>Wi5!0=9g'/tIk;~@;zq67()^ot<"
  sni: hostdare.poul666.top
  client-fingerprint: chrome
  udp: true
  alpn:
    - h2
    - http/1.1
  skip-cert-verify: false


proxy-groups:
- name: "PROXY"
  type: select
  proxies:
    - "trojan"


rule-providers:
  reject:
    type: http
    behavior: domain
    #url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/reject.txt"
    url: "https://blog.poul.top/clash/reject.txt"    
    path: ./ruleset/reject.yaml
    interval: 86400

  icloud:
    type: http
    behavior: domain
    #url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/icloud.txt"
    url: "https://blog.poul.top/clash/icloud.txt"
    path: ./ruleset/icloud.yaml
    interval: 86400

  apple:
    type: http
    behavior: domain
    #url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/apple.txt"
    url: "https://blog.poul.top/clash/apple.txt"    
    path: ./ruleset/apple.yaml
    interval: 86400

  google:
    type: http
    behavior: domain
    #url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/google.txt"
    url: "https://blog.poul.top/clash/google.txt"    
    path: ./ruleset/google.yaml
    interval: 86400

  proxy:
    type: http
    behavior: domain
    #url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/proxy.txt"
    url: "https://blog.poul.top/clash/proxy.txt"    
    path: ./ruleset/proxy.yaml
    interval: 86400

  direct:
    type: http
    behavior: domain
    #url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/direct.txt"
    url: "https://blog.poul.top/clash/direct.txt"    
    path: ./ruleset/direct.yaml
    interval: 86400

  private:
    type: http
    behavior: domain
    #url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/private.txt"
    url: "https://blog.poul.top/clash/private.txt"    
    path: ./ruleset/private.yaml
    interval: 86400

  gfw:
    type: http
    behavior: domain
    #url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/gfw.txt"
    url: "https://blog.poul.top/clash/gfw.txt"    
    path: ./ruleset/gfw.yaml
    interval: 86400


  tld-not-cn:
    type: http
    behavior: domain
    #url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/tld-not-cn.txt"
    url: "https://blog.poul.top/clash/tld-not-cn.txt"    
    path: ./ruleset/tld-not-cn.yaml
    interval: 86400

  telegramcidr:
    type: http
    behavior: ipcidr
    #url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/telegramcidr.txt"
    url: "https://blog.poul.top/clash/telegramcidr.txt"    
    path: ./ruleset/telegramcidr.yaml
    interval: 86400

  cncidr:
    type: http
    behavior: ipcidr
    url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/cncidr.txt"
    #url: "https://blog.poul.top/clash/cncidr.txt"    
    path: ./ruleset/cncidr.yaml
    interval: 86400

  lancidr:
    type: http
    behavior: ipcidr
    #url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/lancidr.txt"
    url: "https://blog.poul.top/clash/lancidr.txt"    
    path: ./ruleset/lancidr.yaml
    interval: 86400

  applications:
    type: http
    behavior: classical
    #url: "https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release/applications.txt"
    url: "https://blog.poul.top/clash/applications.txt"    
    path: ./ruleset/applications.yaml
    interval: 86400

## 黑名单模式
rules:
  - RULE-SET,applications,DIRECT
  - DOMAIN,clash.razord.top,DIRECT
  - DOMAIN,yacd.haishan.me,DIRECT
  - RULE-SET,private,DIRECT
  - RULE-SET,reject,REJECT
  - RULE-SET,tld-not-cn,PROXY
  - RULE-SET,gfw,PROXY
  - RULE-SET,telegramcidr,PROXY
  - MATCH,DIRECT